In [1]:

import csv 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Read in files using csv
schools_complete = pd.read_csv("schools_complete.csv")
students_complete = pd.read_csv("students_complete.csv")

In [3]:
print(schools_complete)

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [4]:
print(students_complete)

       Student ID       student_name gender grade         school_name  \
0               0       Paul Bradley      M   9th   Huang High School
1               1       Victor Smith      M  12th   Huang High School
2               2    Kevin Rodriguez      M  12th   Huang High School
3               3  Dr. Richard Scott      M  12th   Huang High School
4               4         Bonnie Ray      F   9th   Huang High School
...           ...                ...    ...   ...                 ...
39165       39165       Donna Howard      F  12th  Thomas High School
39166       39166          Dawn Bell      F  10th  Thomas High School
39167       39167     Rebecca Tanner      F   9th  Thomas High School
39168       39168       Desiree Kidd      F  10th  Thomas High School
39169       39169    Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score
0                 66          79
1                 94          61
2                 90          60
3                 67          58
4                 97          84
...              ...         ...
39165             99          90
39166             95          70
39167             73          84
39168             99          90
39169             95          75

[39170 rows x 7 columns]

In [5]:
total_schools = len(schools_complete) 
print(total_schools)

15

In [6]:
# total students:
total_students = schools_complete['size'].sum()
print(total_students)

39170

In [7]:
#Total Budget
total_budget = schools_complete['budget'].sum()
print(total_budget)

24649428

In [8]:
#Average Math Score
average_math_score = students_complete['math_score'].mean()
print(average_math_score)

78.98537145774827

In [9]:
#Average Reading Score
reading_score = students_complete['reading_score'].mean()
print(reading_score)

81.87784018381414

In [10]:
# percent students passing (assume above 60 is passing):

# dataframe with only passing students:
students_pass_math = students_complete[students_complete['math_score'] >= 60]

In [11]:
# amount of passing students:
num_students_pass_math = len(students_pass_math)

In [12]:
# amount of total students:
num_students_total = len(students_complete)

In [13]:
# percentage students passing:
percent_pass_math = num_students_pass_math/num_students_total

In [14]:
print(percent_pass_math)

0.9244574929793209

In [15]:
# dataframe with only passing students:
students_pass_reading = students_complete[students_complete['reading_score'] >= 60]

In [16]:
# amount of passing students:
num_students_pass_reading = len(students_pass_reading)

In [17]:
# amount of total students:
num_students_total = len(students_complete)

In [18]:
# percentage students passing:
percent_pass_reading = num_students_pass_reading/num_students_total
print(percent_pass_reading)

1.0

In [19]:
#Overall Passing (The percentage of students that passed math **and** reading.)
students_pass_overall = students_complete[(students_complete['math_score'] >= 60) & (students_complete['reading_score'] >= 60) ]

In [20]:
# amount of passing students:
num_students_pass_overall = len(students_pass_overall)

In [21]:
# amount of total students:
num_students_total = len(students_complete)

In [22]:
# percentage students passing:
percent_pass_overall = num_students_pass_overall/num_students_total

In [23]:

lst = [total_schools, total_students, total_budget, average_math_score, reading_score, percent_pass_math, percent_pass_reading, percent_pass_overall]

df = pd.DataFrame(lst)
df =df.apply(lambda x: '%.5f' % x, axis=1)

In [24]:
print(df)

0          15.00000
1       39170.00000
2    24649428.00000
3          78.98537
4          81.87784
5           0.92446
6           1.00000
7           0.92446
dtype: object